<head> <style> body {  background-color: Aquamarine;} </style> </head>

<p1>Hello, <br> <br> you have successfully logged in as {{user}} on Test Application webserver.<br><br>
    Click <a href='/logout' class="google btn" ><b> LOGOUT </b> </a>
    to navigate back to Login page to initiate re-authentication. <br> </p1>


<p2><br> <b>Note </b>: This is a Test application webserver and does <b>NOT</b>
    store your credentials and authentication happens through Google Authentication Servers.</p2>