<head> <style> body {background-color:AliceBlue;} </style> </head>
<p1>Hello, <br> Click Login link below to get authenticated on Test Application webserver using your gmail account credentials, when prompted for it. <br> </p1>
<div class="col">
        <a style="text-align:center" href="/login" class="google btn"><i class="fa fa-google fa-fw">
          </i> Login with Google+
        </a>
</div>

<p2><br> <b>Note </b>: WebServer/Application is for testing OAUTH2 login and does <b>NOT</b> store your credentials. Authentication takes place through Google Authentication Servers with OAUTH2 Protocol.</p2>


